
.layout {
  height: 100%;
}

.header {
  background: #fff;
  padding: 0;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.content {
  padding: 24px;
}

.breadcrumb {
  display: inline-block;
}

.footer {
  text-align: center;
}
